// ---------------------------------------- BASE
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
  --clr-violet: hsl(257, 40%, 49%);
  --clr-soft-magenta: hsl(300, 69%, 71%);

  --ff-h: 'Poppins', sans-serif;
  --ff-p: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-p);
  font-weight: 400;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

// ---------------------------------------- LAYOUT
.container-fluid {
  background-color: var(--clr-violet);
  background-image: url('../images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
}

@media screen and (min-width: 992px) {
  .container-fluid {
    background-image: url('../images/bg-desktop.svg');
    background-size: cover;
  }
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 2em 0;
  max-width: 45em;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .container {
    padding: 4em 0;
    width: 90%;
    max-width: 1200px;
    height: 100%;
  }
}

// ---------------------------------------- COMPONENT
.logo {
  a {
    display: inline-block;
    img {
      width: 10em;
    }
  }
}

@media screen and (min-width: 992px) {
  .logo {
    a {
      img {
        width: 12em;
      }
    }
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

@media screen and (min-width: 992px) {
  .main-content {
    flex-direction: row;
    justify-content: space-between;

    .main-content__img {
      width: 55%;
    }
  }
}

.main-content__text {
  text-align: center;
  color: #fff;
  margin-top: 3em;

  h1 {
    font-family: var(--ff-h);
    font-size: 1.63rem;
    font-weight: 600;
  }

  p {
    font-size: 1rem;
    margin: 1em 0 2em;
  }

  a {
    display: inline-block;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.7em 5em;
    border-radius: 100em;
    background: #fff;
    color: var(--clr-violet);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    transition: all 0.1s;

    &:hover,
    &:focus {
      background: var(--clr-soft-magenta);
      color: #fff;
    }

    &:active {
      transform: translateY(3px);
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    }
  }
}

@media screen and (min-width: 992px) {
  .main-content__text {
    width: 40%;
    text-align: left;
    margin: 0;

    h1 {
      font-size: 1.8rem;
    }

    a {
      padding: 0.7em 4em;
    }
  }
}

@media screen and (min-width: 1200px) {
  .main-content__text {
    h1 {
      font-size: 2.5rem;
    }
  }
}

.social-contact {
  margin-top: 6em;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
    padding: 0.5em;
    border: 1px solid #fff;
    border-radius: 50%;

    svg {
      width: 0.8em;
      height: 0.8em;
      fill: #fff;
    }

    &:hover,
    &:focus {
      border-color: var(--clr-soft-magenta);

      svg {
        fill: var(--clr-soft-magenta);
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .social-contact {
    margin-top: auto;
    justify-content: flex-end;
  }
}
